body {
  font-family: Arial;
  margin: 20px;
}

.left {
  width: 45%;
  float: left;
}

.right {
  width: 45%;
  float: right;
}

.member {
  width: 22%;
  float: left;
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  overflow: hidden;
}

.clear {
  clear: both;
}

form {
  width: 300px;
}